@font-face {
    font-family: 'typewriter';
    src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
         url('fonts/veteran_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: flex-start;
    background-color: #222222;
    font-family: 'typewriter';
}

.logo {
    margin-top: 3rem;
    padding: 10px;
    font-size: min(4rem, 5vw);
    display: flex;
    background-color: rgba(0,0,0,.5);
}

.company-name {
    padding: 4px;
    margin: 0;
}

.logo img {
   margin-left: 2rem;
   margin-right: 0;
   padding-right: 0;
   padding-top: 10px;
   width: min(15vw, 100%);
   height: min(15vw, 100%);
  
}

.left-side {
    background-image: url(rockyshore.jpg);
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-size: cover;
    background-position: left top;
    width: 40%; 
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    
}

.left-side a, .left-side a:visited {
    text-decoration: underline;
    color: inherit;
}

.right-side {
    background-color: rgb(245,245,240);
    width: 60%;
    padding: 4rem 2rem;
}

fieldset {
    border: none;
}
label {
    /*  display: inline-block; */
    display: block;
    width: 136px;
    text-align: left;
    font-size: .8em;
  }

.button {
    padding-top: 1rem;
}

button {
    margin-left: .8em;
    border-radius: 7px;
    border: solid 1px grey;
    background-image: url(rockyshore.jpg);
    background-position: center center;
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
}

div {
    padding-bottom: 1rem;
}

.photo-credit {
    font-size: 1rem;
    justify-self: flex-end;
    margin-bottom: 0;
    margin-top: auto;
    margin-right: 5px;
    margin-left: auto;
}

form {
    padding: 1rem 1rem;
}